<div style="padding: 10px">

<div>
    <input type="textarea" maxlength="160" #newTweet/>
    <button (click)="addTweet(newTweet)">Chirp</button>
</div>

<ul *ngIf="tweets">
    <li *ngFor="let tweet of tweets">
        <div><span><a href="/message/send/">{{tweet.user.firstName}}</a></span>{{tweet.created | date : "medium" }}</div>
        <div style="border: 1px black solid; padding: 2px;">{{tweet.text}}</div>

        <div *ngIf="editActive">
            <input #editedTweet type="textarea" value="{{tweet.text}}">
            <button (click)="editTweet(editedTweet, tweet)">Submit</button>
        </div>
    
        <button (click)="toggleComment($event, tweet)">Comment</button>
        <button (click)="editActive=!editActive">Edit</button>
        <button (click)="delete(tweet)">Delete</button>
            <!-- COMMENT COMPONENT -->

            <comment  [tweetId]="tweetId" [commentActive]="commentActive"></comment>
        <div *ngIf="tweet.comments">
            <ul>
                <li *ngFor="let comment of tweet.comments">
                    {{comment.text}}
                </li>
            </ul>
        </div>
    </li>
</ul>
</div>
<div *ngIf="!tweets">No tweets at this time.</div>